.card-animation{
    cursor: default;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

.card-animation:hover{
    -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

.animacion{
    background: rgb(235, 235, 13);
    width: 300px;
    height: 200px;
    margin: 20px;
    transition: background-color, width 2s;
    transition-duration: 2s;
}

.animacion:hover{
    background: #FFCC00;
width: 400px;
}
.figurita{
    margin: 50px;
    margin-top: 0px;
    overflow: hidden;
    background:  whitesmoke;
    box-shadow: 0px 1px 10px rgba(15, 15, 15, 0.8586);
cursor: default;
transition: all 400ms ease;
}

.figurita:hover{
    transform: translateY(-3%);
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(15, 15, 15, 7)
}