@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{ 
    padding: 0;
    margin: 0;
    color: black;
        font-family: 'Oswald', sans-serif
}
header{ 
background-color: yellow;
margin: 0px;
padding-bottom: -1px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}
.navegador{
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}
.flexNav{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo{
   padding: 0px;
}
.subtitulos{
    padding: 10px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 1600px;
    color: black;
font-weight: bolder;
font-size: 30px;
font-family: 'Oswald', sans-serif;
border: 5px solid black;
}
.subtitulosDos{
    background-color: yellow;
    margin-top: 160;
} 
section{
    background-color: white;
    font-size: large;
    color: black;
    margin-top: 15px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-flex;
}
.flexNav li a{
    padding: 10px 95px 0px 100px;

}
p{
    color: black;
    padding: 15px;
    padding-bottom: 15px;
    margin: 0px;
}
.blanco{
background-color: white ;
}

.blanco-dos{
background-color: white;
}
.info{
    grid-area: info;
}

.grid1{
   grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3
}
.grid4{
    grid-area: grid4;
}
.grid5{
    grid-area: grid5;
}
.padre{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
justify-content: center;
    grid-template-areas: 
      ". electricidad grid-product info ."
      ". construccion grid-product info ."
      ". cerrajeria grid-product info ."
      ". sanitario grid-product info ."
      ". pintura grid-product info .";
}

.animacion{
    background: yellow;
    width: 300px;
    height: 200px;
    margin: 20px;
    transition: background-color, width 2s;
    transition-duration: 2s;
}

.animacion:hover{
    background: orangered;
width: 400px;
}

@media (max-width:480px){
    h1{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    .flexNav{
        display: table;
        color: black;
        font-family: 'Oswald', sans-serif;
        padding-right: 100px;
        background-color: yellow;
       justify-content: start;
       align-items: flex-start;
        padding-top: 10px;
    }
   .navegador{
       display: table;
    padding-left: 25px;
   }
    .navLogo{
        width: 100px;
        height: 100px;
        z-index: 3px;
        margin-top: -10px;
    }
    
    p{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px; 
    }
    h2{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h3{color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h4{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h5{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h6{
        color: black;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
}